<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Nerko+One&family=Oswald:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0447c6525d.js" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="container-fluid w-100 no-gutters p-0">

        <header class="sticky-top">

            <div class="title-inner p-0">
                <h1 class="display-1 text-center m-0" id="dev-name">Heather Dice</h1>
                <h3 class="display-6 text-center m-0 pb-3 fw-bolder" id="dev-title">Software Developer</h3> 
            </div>   

            <nav class="navbar navbar-expand-md navbar-dark bg-dark">

                <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse" data-bs-target="#btn" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-caret-down"></i>
                </button>

                <div class="collapse navbar-collapse" id="btn">
                    <ul class="nav navbar-nav justify-content-around w-100 h4">
                        <li class="nav-item">
                            <a href="#about" class="nav-link mx-3">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link mx-3">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link mx-3">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link mx-3">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div class="row pt-4">
                <div class="col-sm-4 col-sm-push-8 img-col">
                    <div class="img-container">
                        <img src="static/images/profilepic_20_percent.jpg" class="img-fluid rounded profile-pic" alt="Heather Dice profile picture">
                    </div>
                </div>

                <div class="col-8 about-col">
                    <h3 class="display-5 pb-2 px-0">About Me</h3>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6 about-col">
                            <p>
                                <span class="fw-bolder fs-3 pb-2"  id="about">Hi, I'm Heather!</span>
                                <br>
                                <span class="fs-4">
                                    I am a former music teacher turned software developer from the Philadelphia area. I love building
                                    full-stack applications using Python. My particular interest, however, lies in creating beautiful
                                    frontend design. I am constantly learning and growing as a developer and in life!
                                    Please take the time to explore my portfolio and check out my projects. Like my work? Reach out 
                                    to me on LinkedIn or send me an <span><a href="#">email</a></span>. 
                                </span>    
                            </p>    
                        </div>

                        <div class="col-sm-6 col-sm-push-6">
                            <span class="fw-bolder fs-3 pb-4">When I'm not coding, you can find me...</span>
                            <ul class="fs-4">
                                <li>Riding my horse, Duet</li>
                                <li>Practicing archery and mounted archery</li>
                                <li>Reading fantasy, horror, or mystery novels</li>
                                <li>Training my dogs, Elphie and June</li>
                                <li>Spending time with my incredible husband, Zech</li>
                                <li>Practicing my French</li>
                                <li>Playing and cuddling with my cat, Nimbus</li>
                            </ul>    
                        </div>

                    </div>
                </div>

            </div>
            
        </main>

    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>    
</body>
</html>